<!-- <div style="width: 300px; margin-bottom: 20px; margin-left: 50px;">
  <h3>Select a single city</h3>
  <ng-select [allowClear]="true" [items]="items" [disabled]="disabled" (data)="refreshValue($event)" (selected)="selected($event)"
    (removed)="removed($event)" (typed)="typed($event)" placeholder="No city selected">
  </ng-select>
  <p></p>
  <pre>{{value.text}}</pre>
  <div>
    <button type="button" class="btn btn-primary" [(ngModel)]="disabledV" btnCheckbox btnCheckboxTrue="1" btnCheckboxFalse="0">
      {{disabled === '1' ? 'Enable' : 'Disable'}}
    </button>
  </div>
</div> -->

<br>

<div class="col-md-3">
  <input id="idropdown" type="text" class=" searchbox form-control">
  <select id="sdropdown" class="sdropdown form-control">
    <option *ngFor="let vpc of vpcCodes" value="vpc.id">{{vpc.text}}</option>
  </select>
</div>


<div class="col-md-3 ">
  <span class="vpcLabel" *ngIf="!showOption">{{vpcCoda}}</span>
  <input #dsearch type="text" [(ngModel)]="selectedVpc" name="vpcInfo" (click)="clearValues()" (focus)="showOption = true" class="inText form-control"
    placeholder="{{vpcPlaceholder}}">
  <div class="optionDropdown" *ngIf="showOption">
    <ul class="ulDropdown">
      <li class="liDropdown" value="0"  (click)="selectedValue(0)">NONE</li>
      <li class="liDropdown" *ngFor="let vpc of vpCustomersData | filterBy: ['vpcCode']: selectedVpc: strict" name="vpcData" (click)="selectedValue(vpc)"
        value="vpc.vpcId">{{vpc.vpcCode}}</li>
    </ul>
  </div>
</div>

<!-- <div class="col-md-3 ">
  <span class="vpcLabel">{{vpcCoda}}</span>
  <input #dsearch type="text" [(ngModel)]="selectedVpc" name="vpcInfo" (click)="clearValues()" (focus)="showOption = true" class="inText form-control"
    placeholder="{{vpcPlaceholder}}">
  <div class="optionDropdown" *ngIf="showOption">
    <ul class="ulDropdown" [(ngModel)]="selectedValues">
      <li class="liDropdown" value="0"  (click)="selectedValue(0)">NONE</li>
      <li class="liDropdown" *ngFor="let vpc of vpCustomersData | filterBy: ['vpcCode']: selectedVpc: strict" name="vpcData" (click)="selectedValue(vpc)"
        value="vpc.vpcId">{{vpc.vpcCode}}</li>
    </ul>
  </div>
</div> -->


<div class="col-md-12">
  <ng-select [list]="vpCustomersData"></ng-select>
</div>

